{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'note/style.css' %}">
</head>
<body>
    <div class="banner-area">
  <header>
  <div class="menu">
      <div class="logo">MyBlog</div>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
  </div>
</header>

    <main>
        {% block main %}{% endblock %}
    </main>
    
    <script src="{% static 'note/script.js' %}"></script>
</body>
</html>