{% extends "base.html" %}
{% block title %}Notes List{% endblock %}

{% block content %}
  <h2 class="text-center mb-4">All Notes</h2>

  <div class="row">
    {% for note in notes %}
      <div class="col-md-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.content }}</p>
            <p class="text-muted small">{{ note.created_at }}</p>
            <a href="{% url 'update_note' note.id %}" class="btn btn-sm btn-outline-success">Edit</a>
            <a href="{% url 'delete_note' note.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center">No notes yet 😅</p>
    {% endfor %}
  </div>
{% endblock %}
