{% extends "base.html" %}
{% block content %}
<div class="container mt-5 col-md-5">
    <div class="card shadow p-4">
        <h2 class="mb-4 text-center">Create Account</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success w-100">Signup</button>
        </form>

        <p class="mt-3 text-center">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>
{% endblock %}

